In [9]:
from TradingviewData import TradingViewData,Interval

request = TradingViewData()

In [11]:
request.search('ETH','MCX')

ERROR:TradingviewData.main:Expecting value: line 1 column 1 (char 0)

[]

In [12]:
nifty_data = request.get_hist(symbol='',exchange='NSE',interval=Interval.hour_1,n_bars=1000)

nifty_data

ERROR:TradingviewData.main:The read operation timed out
ERROR:TradingviewData.main:no data, please check the exchange and symbol

In [13]:
nifty_futures = request.get_hist(symbol='NIFTY',exchange='NSE',interval=Interval.hour_1,n_bars=1000,fut_contract=1)

nifty_futures

,symbol,open,high,low,close,volume
datetime,,,,,,
2025-06-26 07:45:00,NSE:NIFTY1!,25343.8,25427.1,25311.9,25410.0,644175.0
2025-06-26 08:45:00,NSE:NIFTY1!,25410.0,25434.9,25360.7,25401.0,525225.0
2025-06-26 09:45:00,NSE:NIFTY1!,25397.7,25546.0,25397.6,25514.6,925500.0
2025-06-26 10:45:00,NSE:NIFTY1!,25517.3,25564.0,25480.0,25549.0,768900.0
2025-06-26 11:45:00,NSE:NIFTY1!,25545.0,25558.1,25543.9,25552.0,276525.0
...,...,...,...,...,...,...
2026-01-22 06:45:00,NSE:NIFTY1!,25248.9,25311.0,25201.3,25262.9,761345.0
2026-01-22 07:45:00,NSE:NIFTY1!,25262.9,25307.6,25220.0,25220.0,1036360.0
2026-01-22 08:45:00,NSE:NIFTY1!,25216.7,25279.0,25200.0,25217.0,1108965.0
2026-01-22 09:45:00,NSE:NIFTY1!,25215.0,25359.6,25202.0,25343.9,2385370.0
2026-01-22 10:45:00,NSE:NIFTY1!,25344.7,25397.7,25343.6,25373.5,752635.0

In [14]:
relience_data = request.get_hist(symbol='RELIANCE',exchange='NSE',interval=Interval.min_5,n_bars=5000)

relience_data

                           symbol    open    high     low   close    volume
datetime
2025-10-15 08:50:00  NSE:RELIANCE  1377.1  1378.0  1376.3  1377.9  158874.0
2025-10-15 08:55:00  NSE:RELIANCE  1378.0  1378.7  1376.9  1378.0  284320.0
2025-10-15 09:00:00  NSE:RELIANCE  1378.0  1378.6  1377.1  1378.3   88207.0
2025-10-15 09:05:00  NSE:RELIANCE  1378.3  1378.5  1377.3  1377.8  111330.0
2025-10-15 09:10:00  NSE:RELIANCE  1377.8  1378.9  1377.5  1378.1   92459.0
...                           ...     ...     ...     ...     ...       ...
2026-01-22 10:35:00  NSE:RELIANCE  1404.0  1404.0  1400.9  1402.0  803677.0
2026-01-22 10:40:00  NSE:RELIANCE  1402.0  1402.7  1401.2  1401.5  470119.0
2026-01-22 10:45:00  NSE:RELIANCE  1401.5  1403.7  1401.4  1401.7  646941.0
2026-01-22 10:50:00  NSE:RELIANCE  1401.7  1405.2  1401.7  1403.5  546425.0
2026-01-22 10:55:00  NSE:RELIANCE  1403.6  1405.3  1403.2  1404.3  594564.0

[5000 rows x 6 columns]

In [15]:
crudeoil_data = request.get_hist(symbol='MCXMETLDEX',exchange='MCX',interval=Interval.hour_1,n_bars=5000)

crudeoil_data

ERROR:TradingviewData.main:The read operation timed out
ERROR:TradingviewData.main:no data, please check the exchange and symbol

In [16]:
nifty_data.close.plot(figsize=(15,10),use_index=False)

AttributeError: 'NoneType' object has no attribute 'close'

NameError: name 'request' is not defined